* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html body {
    height: 100%;
    width: 50%;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    color: white;
    font-family: sans-serif;
    padding-left: 10px;

}

.BODY {
    height: 100%;
    width: 71vw;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    display: grid;

}

.image img {
    width: 67px;
    height: 57px;
    margin: 3px 0px;
    cursor: pointer;
}

h1 {
    /* height: 44px; */
    font-family: sans-serif;
    width: 290px;
    font-weight: 800;
}

.para1 {
    font-stretch: normal;
    max-height: fit-content;
    letter-spacing: 0.8px;
    font-size: 22px;
    padding-top: 10px;
    width: 280px;

}

.para2 {
    padding-top: 55px;
    width: 290px;
    font-size: 19px;


}

.para3 {
    padding-top: 10px;
    font-size: 19px;
    height: 29px;
}

.email {
    height: 29px;
    margin-top: 10px;
    width: 280px;
    box-shadow: none;
}

.pwd {
    width: 280px;

    height: 29px;;
    padding-top: 5px;
    font-style: normal;
}


.loginwithfacebook {
    height: 20px;
    width: 400px;
    box-sizing: border-box;
    border-radius: 5px solid black;
}


.textbox-container {
    padding-top: 55px;
    height: 39px;
    margin: 45px 0px;
}

.login {
    padding-top: 35px;
    height: 13px;
    width: 44px;
    
    border: 5ps solid black;
}

.forget {
    padding-top: 20px;
}

.Button {
    
    margin-top: 64px;
    height: 45px;
    width: 280px;
   border-radius: 20px solid black;
    border: 2px solid rgb(0, 0, 0);
    color: white;
    font-size: 19px;
    font-size: 19px;

    border-radius: 25px;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    cursor: pointer;

}


.Button1{
    margin-top: 4px;
    height: 45px;
    width: 280px;
   border-radius: 20px solid black;
    border: 2px solid rgb(0, 0, 0);
    font-size: 19px;
    color: white;
    border-radius: 25px;
    cursor: pointer;

    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    
}
.forget{
    display: flex;
    padding-left: 55px;
    display: grid;
    font-size: 19px;
cursor: pointer;

}


@media screen and (min-width: 480px) {
.h1{
    width: 65vw;
    height: 18vh;
}

}